
<div class="banner-wrapper">
  <!-- Banner-->
  <div class="banner">
    <div class="image-wrapper"><img id="book-banner" alt="banner"/>
      <div class="overlay"></div>
    </div>
    <div class="stats">
      <div class="stat-item"><span class="material-symbols-outlined" style="font-size: 25px">visibility</span>
        <div class="stat-text">100K</div>
      </div>
      <div class="stat-item"><span class="material-symbols-outlined" style="font-size: 25px">forum</span>
        <div class="stat-text">100K</div>
      </div>
      <div class="stat-item"><span class="material-symbols-outlined" style="font-size: 25px">favorite</span>
        <div class="stat-text">100K</div>
      </div>
    </div>
  </div>
  <!-- Content-->
  <div class="container"><img class="cover-image" id="book-cover"/>
    <div class="details">
      <div class="title-section">
        <div class="title" id="book-title"> </div>
        <div class="author" id="book-author"></div>
      </div>
      <div class="info-section">
        <div class="info-type">Type:</div>
        <div class="icon-section">
          <div class="icon-box" id="first-chapter"><span class="material-symbols-outlined" style="font-size: 37.5px">import_contacts</span></div>
          <div class="icon-box"><span class="material-symbols-outlined" style="font-size: 37.5px">favorite</span></div>
          <div class="icon-box"><span class="material-symbols-outlined" style="font-size: 37.5px">speaker_notes</span></div>
        </div>
        <div class="tags-section">
          <div class="tags-label">Tags:</div>
          <div class="tags-list" id="book-tags"></div>
        </div>
        <div class="public-date" id="book-date"></div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <!-- Description-->
  <div class="summary-section"><span class="summary-title">Tóm tắt truyện: </span><span class="summary-text" id="book-description"></span><a class="more-link">more</a></div>
</div>
<script src="../../assets/js/client/script.js"></script>
<script src="../../assets/js/client/test.js"></script>