
<div class="footer">
  <div class="footer__container"> <img class="footer__header" src="../../assets/img/tieude-logo.png"/>
    <div class="footer__container-list">
      <ul class="footer__container-list-item">  
        <li class="footer__container-item">Giới thiệu</li>
        <li class="footer__container-item">Thông báo</li>
        <li class="footer__container-item">liên hệ: 0865.xxx.xxx</li>
        <li class="footer__container-item">Email: xxxxxxxxxx@hcmut.edu.vn</li>
      </ul>
      <ul class="footer__container-list-text"> 
        <li class="footer__container-item-text">Trang web này cung cấp nội dung truyện tranh chỉ với mục đích giải trí và không chịu trách nhiệm về bất kỳ nội dung quảng cáo, liên kết của bên thứ ba hiển thị trên trang web của chúng tôi.</li>
        <li class="footer__container-item-text">Tất cả thông tin và hình ảnh trên website đều được thu thập từ internet. Chúng tôi không chịu trách nhiệm về bất kỳ nội dung nào. Nếu bạn hoặc tổ chức của bạn có vấn đề gì liên quan đến nội dung hiển thị trên website, vui lòng liên hệ với chúng tôi để được giải quyết.</li>
      </ul>
    </div>
  </div>
  <p class="footer__container-copyright">Copyright © 2024 Mango</p>
</div>