
<div class="header">
  <div class="header__header-item">
    <div class="menu-list">
      <div class="menu-list-header"><i class="fa-solid fa-bars"></i></div><a class="header-logo-link" href="./home_page.html"><img class="header__logo" src="../../assets/img/logo.png"/></a>
    </div>
    <div class="header__search-bar">
      <input class="header__search-item" type="text" id="search_header"/>
      <label class="header__search-link" for="search_header"> <i class="fa-solid fa-magnifying-glass"></i></label>
    </div>
    <div class="header-list"><img class="header__avatar" src="../../assets/img/avatar.png"/></div>
  </div>
</div>