
<section class="client--user-info"> 
  <div class="container">
    <div class="client--user-info__wrap">
      <div class="client--user-info__element">
        <div class="client--user-info__element--image"><img src="../../assets/images/partials-userInfo-avatar.png" alt="avatar"/></div>
        <div class="client--user-info__element--content">
          <div class="client--user-info__element--content-name">%Gia Qui%</div>
          <div class="client--user-info__element--content-position">Vị trí: %Uploader%</div>
          <div class="client--user-info__element--content-day">Ngày gia nhập: %17/12/2023%</div>
        </div>
      </div>
    </div>
  </div>
</section>