.header
    .header__header-item
        div.menu-list
            div.menu-list-header
                i.fa-solid.fa-bars
            a(href="./home_page.html").header-logo-link
                img(src="../../assets/img/logo.png").header__logo
        div.header__search-bar
            input(type="text" id="search_header").header__search-item 
            label(for="search_header").header__search-link 
                i.fa-solid.fa-magnifying-glass
        div.header-list
            a(href="./personal_page.html").header-item__avatar
                img(src="../../assets/img/Boss Combat.jpg" alt="Profile Avatar").header-avatar
            
                    //- li.header__navbar-user-item
                    //-     a(href="../info_user/info_user.html") Thông tin cá nhân
                    //- li.header__navbar-user-item
                    //-     a(href="../binh/Print_History.html") Lịch sử in
                    //- li.header__navbar-user-item
                    //-     a(href="../binh/bkpay.html") BKPay
                    //- li.header__navbar-user-item.header__navbar-user-item--separate
                    //-     a(href="") 
                    //-         button#button-logout Đăng xuất


