include ../mixins/container-home__title.pug

.row.sm-gutter
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
    +container_home_page("../../assets/img/truyen1.jpg", "Made in abyss", "Riko Belchero", "Cập nhật lúc: 2024-10-22")
