.header
    .header__header-item
        div.menu-list
            div.menu-list-header
                i.fa-solid.fa-bars
            a(href="./home_page.html").header-logo-link
                img(src="../../assets/img/logo.png").header__logo
        div.header__search-bar
            input(type="text" id="search_header").header__search-item 
            label(for="search_header").header__search-link 
                i.fa-solid.fa-magnifying-glass
        div.header-list
            img(src="../../assets/img/avatar.png").header__avatar
        