header.header
  .menu-icon
    i.fas.fa-bars
  img.logo(src="/assets/img/logo.png", alt="Logo")
  .search-bar
    input(type="text", placeholder="Tìm kiếm...")
    button
      i.fas.fa-search
  .profile-icon
    img(src="/assets/img/Boss Combat.jpg", alt="Profile image")
