section.client--user-info 
    .container
        .client--user-info__wrap
            .client--user-info__element
                .client--user-info__element--image
                    img(src="../../assets/images/partials-userInfo-avatar.png" alt="avatar")
                .client--user-info__element--content
                    .client--user-info__element--content-name %Gia Qui%
                    .client--user-info__element--content-position Vị trí: %Uploader%
                    .client--user-info__element--content-day Ngày gia nhập: %17/12/2023%