
:root{ 
  /* dat ten cho cac bien thuong dung */
  --white-color: #fff;
  --black-color: #000;
  --text-color: #474747;
  --nav-color: #2B2B2B;
  --button-color:#C75B7A;
  --button-hover:#5A0000;
  --bg-color:#FFFAF4;

  --navbar-height: 34px;
  --header-height: 60px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
  --header-sort-bar-height: 46px;
  font-family: "Inter" , sans-serif !important;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--nav-color);
    z-index: 1000;
}
.menu-list{
    display: flex;
    align-items: center;
}

.menu-list-header{
    display: flex;
    color: #fff;
    font-size: 30px;
    margin-right: 64px;
    cursor: pointer;
}


.header__logo{
    height: 60px;
    cursor: pointer;
}

.header__header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 88px;
    margin-right: 88px;
    height: var(--header-height);
    align-content: center;
}

.header__search-item{
    background: #CCCCCC;
    width: 582px;
    max-width: 582px;
    height: 29px;
    border-radius: 10px;
    font-size: 2rem;
}

.header__search-link {
    padding: 3px 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    color: #2B2B2B;
    background: #CCCCCC;
    height: 29px;
    border-radius: 10px;
    font-size: 28px;
    width: 35px;
    cursor: pointer;
}


/* footer */
.footer__container{
  padding: 0 186px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2B2B2B;
  color: #fff;
  list-style: none;
}


.footer__header{
  width: 200px;
  height: calc(48.79px + 13px);
  font-size: 1.6rem;
  margin-top: 22px;
  padding-bottom: 13px;
  border-bottom: 0.5px solid #eee;
}

.footer__container-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 26px;
  padding-top: 33px;
}

.footer__container-list-item{
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  width: 50%;
}

.footer__container-item{
  padding:8.5px 0;
}

.footer__container-list-text{
  width: 50%;
  list-style: none;
  font-size: 20px;
  font-weight: 300;

}

.footer__container-item-text{
  padding:5.5px 0;
  line-height: 1.2rem;
  text-align: justify;
}

.footer__container-copyright{
  text-align: center;
  background: #1e1e1e;
  font-size: 1.6rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0;
}