mixin container_home_page(img,name,author,time)
    .col.l-3.m-4.c-6
        div.content-chuamanga__item-manga
            a(href="#").content-chuamanga__item-chitiet
                img(src=img).content-chuamanga__item-img
            div.content-chuamanga__item-container
                h3.content-chuamanga__item-name= name
                p.content-chuamanga__item-author= author
                p.content-chuamanga__item-time= time