//- mixin mangaCard(title, author, genres, image, likes, comments, chapters)
//-   .manga-card
//-     .manga-card-content
//-       img.manga-card-img(src=image alt="Manga Cover")
//-       .manga-card-details
//-         .manga-card-header
//-           .manga-card-info-left
//-             h3.manga-card-title= title
//-             p.manga-card-author= author
//-             ul.manga-card-tags
//-               each genre in genres
//-                 li.manga-card-tag= genre
//-           .manga-card-info
//-             .manga-card-likes
//-               i.fa-regular.fa-heart
//-               span= likes
//-             .manga-card-comments
//-               i.fa-regular.fa-comment-dots
//-               span= comments
//-         .manga-card-chapters
//-           ul
//-             each chapter in chapters
//-               li.manga-card-chapter= chapter

