mixin personalInfoBox(email, username, phone, dob)
  .personal-info-box 
    p
      strong Email: 
      | #{email}
    p
      strong Username: 
      | #{username}
    p
      strong SĐT: 
      | #{phone}
    p
      strong Ngày sinh: 
      | #{dob}
