extends ../layouts/index.pug
include ../mixins/chapter-list.pug
include ../mixins/card.pug

block main
    .wrapper
        .tab
            button.tablinks(id="chapter-tab" onclick="openTab(event, 'chapter')") Chapter
            button.tablinks(id="comments-tab" onclick="openTab(event, 'comments')") Comments
            button.tablinks(id="related-tab" onclick="openTab(event, 'related')") Related

        // Tab Content Sections
        .tabcontent(id="chapter" style="display:none")
            +chapterList(chapters)
        .tabcontent(id="comments" style="display:none")
            p comment
        .tabcontent(id="related" style="display:none")
            ul.related_comic-list
                each book in (books || [])
                    +card(book.thumbnail, book.name)

        script(src="../../assets/js/client/script.js")
