extends ../layouts/index.pug

block link
    link(rel="stylesheet", href="../../assets/css/client/style_GiaQui.css")

block container

    include ../partials/user-info.pug

    section.client--chapter-list 
        .container 
            .client--chapter-list__main
                .client--chapter-list__main--content
                    .client--chapter-list__main--content-left
                        i(class="fa-solid fa-book-open")
                        .content Danh sách chương
                    a(href="mangaWrittingCenter.html" class="client--chapter-list__main--content-right")
                        i(class="fa-solid fa-chevron-left")
                div(class="client--chapter-list__main--list" id="chapter-list")
                    //- a.client--chapter-list__main--element(href="#" src="_self")
                    //-     .client--chapter-list__main--element-content Chapter 1:  Yuzuriha
                    //- a.client--chapter-list__main--element(href="#" src="_self")
                    //-     .client--chapter-list__main--element-content Chapter 1:  Yuzuriha
                    //- a.client--chapter-list__main--element(href="#" src="_self")
                    //-     .client--chapter-list__main--element-content Chapter 1:  Yuzuriha
                    //- a.client--chapter-list__main--element(href="#" src="_self")
                    //-     .client--chapter-list__main--element-content Chapter 1:  Yuzuriha
                    //- a.client--chapter-list__main--element(href="#" src="_self")
                    //-     .client--chapter-list__main--element-content Chapter 1:  Yuzuriha

    script(src = "../../assets/js/client/scriptGQ.js")