extends ../layouts/index.pug
include ../mixins/container-home__title.pug
block container
    div.content-noibat
        div.content-noibat__noidung
            button.content-noibat__noidung-dieukhientrai
                i.fa-solid.fa-chevron-left
            a(href="").content-noibat__noidung-truyen
                img(src="").content-noibat__noidung-img
                div.content-noibat__noidung-baothongtin
                    div.content-noibat__noidung-tieude 
                    div.content-noibat__noidung-tag-list
                        //- span.content-noibat__noidung-tag-item 
                        //- span.content-noibat__noidung-tag-item 
                        //- span.content-noibat__noidung-tag-item 
                    div.content-noibat__noidung-thongtin 
                        |
            button.content-noibat__noidung-dieukhienphai
                i.fa-solid.fa-chevron-right
    div.content-chuatag
        div.content-chuatag__chua-list-tag
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Tổng tài 
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Trinh thám 
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Tình cảm 
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Phiêu lưu 
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Hành động
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Viễn tưởng
        div.content-chuatag__chua-list-tag--db
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Kinh dị
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Đời thường 
            div.content-chuatag__list-tag
                button.content-chuatag__item-tag Hài hước
    div.content-chuamanga
        div.content-chuamanga__header
            h2.content-chuamanga__tieude Truyện đề cử
            a(href="#").content-chuamanga__xemthem-list
                p.content-chuamanga__xemthem Xem thêm
                    i.fa-solid.fa-chevron-right

        div.content-chuamanga__list-manga    
            //- include ../partials/container-home__title__item.pug
    div.content-chuarank     
        div.content-chuamanga__header
            h2.content-chuamanga__tieude Bảng xếp hạng
            a(href="#").content-chuamanga__xemthem-list
                p.content-chuamanga__xemthem Xem thêm
                    i.fa-solid.fa-chevron-right
        div.content-chuamanga__list-chonloc-bg
            ul.content-chuamanga__list-chonloc
                li.content-chuamanga__list-chonloc-item Top tháng
                li.content-chuamanga__list-chonloc-item Top tuần
                li.content-chuamanga__list-chonloc-item Top ngày

                //- list rank
        div.content-chuamanga__list-rank    
            div.content-chuamanga__item-rank
                div.content-chuamanga__thutu-rank 1
            div.content-chuamanga__item-rank
                div.content-chuamanga__item-rank-noidung
                    img(src="../../assets/img/truyen1.jpg", alt="").content-chuamanga__item-rank-img
                    div.content-chuamanga__item-rank-thongtinhienthi
                        div.content-chuamanga__item-rank-thongtintren
                            div.content-chuamanga__item-rank-thongtintrai
                                h3.content-chuamanga__item-rank-tieude Made in Abyss
                                p.content-chuamanga__item-rank-tag-author Tastu Yukinobu 
                                p.content-chuamanga__item-rank-tag-theloai Thể loại
                                ul.content-chuamanga__item-rank-tag-list 
                                    li.content-chuamanga__item-rank-tag-item Phiêu lưu
                                    li.content-chuamanga__item-rank-tag-item Hành động
                                    li.content-chuamanga__item-rank-tag-item Viễn tưởng
                            div.content-chuamanga__item-rank-thongtinphai
                                div.content-chuamanga__item-rank-like
                                    i.fa-regular.fa-heart
                                    p.content-chuamanga__item-rank-num-like 20
                                div.content-chuamanga__item-rank-cmt
                                    i.fa-regular.fa-comment-dots
                                    p.content-chuamanga__item-rank-num-like 10
                        p.content-chuamanga__item-rank-xemthem Xem thêm
                        ul.content-chuamanga__item-rank-thongtinduoi  
                            li.content-chuamanga__item-rank-chap Chapter 6
                            li.content-chuamanga__item-rank-chap Chapter 5
                            li.content-chuamanga__item-rank-chap Chapter 4
                            li.content-chuamanga__item-rank-chap Chapter 3
                            li.content-chuamanga__item-rank-chap Chapter 2
        div.content-chuamanga__list-rank    
            div.content-chuamanga__item-rank
                div.content-chuamanga__thutu-rank.thu2 2
            div.content-chuamanga__item-rank
                div.content-chuamanga__item-rank-noidung
                    img(src="../../assets/img/truyen_2.webp", alt="").content-chuamanga__item-rank-img
                    div.content-chuamanga__item-rank-thongtinhienthi
                        div.content-chuamanga__item-rank-thongtintren
                            div.content-chuamanga__item-rank-thongtintrai
                                h3.content-chuamanga__item-rank-tieude Tổng Tài Tại Thượng
                                p.content-chuamanga__item-rank-tag-author ICiyuan
                                p.content-chuamanga__item-rank-tag-theloai Thể loại
                                ul.content-chuamanga__item-rank-tag-list 
                                    li.content-chuamanga__item-rank-tag-item Tình cảm
                                    li.content-chuamanga__item-rank-tag-item Tổng tài
                                    li.content-chuamanga__item-rank-tag-item Đời thường
                            div.content-chuamanga__item-rank-thongtinphai
                                div.content-chuamanga__item-rank-like
                                    i.fa-regular.fa-heart
                                    p.content-chuamanga__item-rank-num-like 16
                                div.content-chuamanga__item-rank-cmt
                                    i.fa-regular.fa-comment-dots
                                    p.content-chuamanga__item-rank-num-like 10
                        p.content-chuamanga__item-rank-xemthem Xem thêm
                        ul.content-chuamanga__item-rank-thongtinduoi  
                            li.content-chuamanga__item-rank-chap Chapter 171
                            li.content-chuamanga__item-rank-chap Chapter 170
                            li.content-chuamanga__item-rank-chap Chapter 169
                            li.content-chuamanga__item-rank-chap Chapter 168
                            li.content-chuamanga__item-rank-chap Chapter 167
        div.content-chuamanga__list-rank    
            div.content-chuamanga__item-rank
                div.content-chuamanga__thutu-rank.thu3 3
            div.content-chuamanga__item-rank
                div.content-chuamanga__item-rank-noidung
                    img(src="../../assets/img/truyen3.jpg", alt="").content-chuamanga__item-rank-img
                    div.content-chuamanga__item-rank-thongtinhienthi
                        div.content-chuamanga__item-rank-thongtintren
                            div.content-chuamanga__item-rank-thongtintrai
                                h3.content-chuamanga__item-rank-tieude Attack on Titan
                                p.content-chuamanga__item-rank-tag-author  Isayama Hajime 
                                p.content-chuamanga__item-rank-tag-theloai Thể loại
                                ul.content-chuamanga__item-rank-tag-list 
                                    li.content-chuamanga__item-rank-tag-item Hành động
                                    li.content-chuamanga__item-rank-tag-item Viễn tưởng
                            div.content-chuamanga__item-rank-thongtinphai
                                div.content-chuamanga__item-rank-like
                                    i.fa-regular.fa-heart
                                    p.content-chuamanga__item-rank-num-like 10
                                div.content-chuamanga__item-rank-cmt
                                    i.fa-regular.fa-comment-dots
                                    p.content-chuamanga__item-rank-num-like 4
                        p.content-chuamanga__item-rank-xemthem Xem thêm
                        ul.content-chuamanga__item-rank-thongtinduoi  
                            li.content-chuamanga__item-rank-chap Chapter 34
                            li.content-chuamanga__item-rank-chap Chapter 33
                            li.content-chuamanga__item-rank-chap Chapter 32
                            li.content-chuamanga__item-rank-chap Chapter 31
                            li.content-chuamanga__item-rank-chap Chapter 30
    div.footer
        .footer__container 
            img(src="../../assets/img/tieude-logo.png", alt="").footer__header  
            .footer__container-list
                ul.footer__container-list-item   
                    li.footer__container-item Giới thiệu
                    li.footer__container-item Thông báo
                    li.footer__container-item liên hệ: 0865.xxx.xxx
                    li.footer__container-item Email: xxxxxxxxxx@hcmut.edu.vn
                ul.footer__container-list-text 
                    li.footer__container-item-text Trang web này cung cấp nội dung truyện tranh chỉ với mục đích giải trí và không chịu trách nhiệm về bất kỳ nội dung quảng cáo, liên kết của bên thứ ba hiển thị trên trang web của chúng tôi.
                    li.footer__container-item-text Tất cả thông tin và hình ảnh trên website đều được thu thập từ internet. Chúng tôi không chịu trách nhiệm về bất kỳ nội dung nào. Nếu bạn hoặc tổ chức của bạn có vấn đề gì liên quan đến nội dung hiển thị trên website, vui lòng liên hệ với chúng tôi để được giải quyết.
        p.footer__container-copyright Copyright © 2024 Mango     





    .modal-quenpass.js-modal-quenpass
        .modal-quenpass-container.js-modal-quenpass-container
            .modal-close.js-modal-close-quenpass
                i.fa-solid.fa-xmark
            header.modal-quenpass-header
                p Tìm tài khoản 
            .modal-quenpass-body
                .modal-quenpass-form
                    form#form-3.form
                        div.form-group-3
                            label.modal-quenpass-label(for='email2')
                                | Email
                            input#email2.modal-quenpass-input(type='email')
                            span.form-message
                
            
                        button#button-quenpass
                            | Tiếp tục
                    p.modal-quenpass-label-chuyendangky
                        | Quay về đăng nhập?
                        button.modal-quenpass-label-chuyendangky-trangmoi#dangky Đăng nhập

    .modal-otp.js-modal-otp
        .modal-otp-container.js-modal-otp-container
            .modal-close.js-modal-close-otp
                i.fa-solid.fa-xmark
            header.modal-otp-header
                p Nhập mã OTP
            .modal-otp-body
                .modal-otp-form
                    form#form-group-3-2.form.test-form
                        .form-group-3-2
                            label.modal-otp-label(for='otpCode')
                                | Mã OTP
                            input#otpCode.modal-otp-input(type='text', style='margin-bottom: 4px;')
                            span.form-message(style = 'color: #f33a58') OTP chỉ có hạn trong 5 phút.
                        button#button-otp
                            | Xác nhận
                    p.modal-otp-label-resend
                        | Quay về đăng nhập?
                        button.modal-otp-label-resend-button#resendOtp Đăng nhập


    .modal-changepass.js-modal-changepass
        .modal-changepass-container.js-modal-changepass-container
            .modal-close.js-modal-close-changepass
                i.fa-solid.fa-xmark
            header.modal-changepass-header
                p Đổi mật khẩu
            .modal-changepass-body
                .modal-changepass-form
                    form#form3-3.form.test-form2
                        .form-group-3-3
                            label.modal-changepass-label(for='changepass')
                                | Nhập mật khẩu mới
                            input#changepass.modal-changepass-input(type='text', style='margin-bottom: 4px;')
                            span.form-message(style='color: #f33a58;') 
                        button#button-changepass(type='submit')
                            | Đổi mật khẩu
                    p.modal-changepass-label-resend
                        | Quay về đăng nhập?
                        button.modal-changepass-label-resend-button#resendOtp Đăng nhập





    script(src="../../assets/js/client/validator.js")
    script(src="../../assets/js/client/home_page.js")
    script.
        Validator({
            form: '#form-3',
            formGroupSelector: '.form-group-3',
            errorSelector: '.form-message',
            rules: [
            Validator.isEmail('#email2')
            ],
            onSubmit: function (data) {
            console.log(data);
            }
        });

        Validator({
            form: '#form3-3',
            formGroupSelector: '#form-group-3-3',
            errorSelector: '.form-message',
            rules: [
            Validator.minLength('#changepass', 6)
            ],
            onSubmit: function (data) {
            console.log(data);
            }
        });
                            
                        
                


                        