//- Sử dụng file layout chính cho page
extends ../layouts/index.pug

//- Import các mixins cần thiết
include ../mixins/profile_section.pug
include ../mixins/profile_info.pug
include ../mixins/manga_card.pug

block container
  div.personal_page
    //- Phần thông tin chung (profile section)
    +profileSection("", "", "", "../../assets/img/Boss Combat.jpg","")
    
    //- Phần thông tin cá nhân
    .block-content
    //- Phần tiêu đề và icon nằm ngoài box
    .personal-info-header
        img.icon-user(src="../../assets/img/icon.png" alt="User Icon")
        h2.personal-info-title Thông tin cá nhân
    hr.personal-info-divider

    //- Box chứa thông tin cá nhân
    .personal-info-container
      +personalInfoBox(
        "man.ngotrieuman27@hcmut.edu.vn",
        "kandy_2705",
        "0123456789",
        "27/05/2004"
      )


    //- Danh sách truyện đã đăng 
    .main-layout
      .grid__column-3
        .manga-section
          .manga-section-title-header
            img.mangaicon(src="../../assets/img/mangaicon.png" alt="Manga Icon")
            h2.manga-section-title Danh sách truyện đã đăng
          hr.manga-info-divider  

          div.content-chuamanga-personal_page.open(id="myMangaList")
           
      //- Chức năng
      .grid__column-1
        .function-section
          .function-section-title-header
            img.functionicon(src="../../assets/img/Function.png" alt="Function Icon")
            h2.function-section-title Chức năng
          hr.function-info-divider
          button.function-btn(onclick="toggleMangaList('myMangaList')") 
            i.fa-solid.fa-pencil
            span Truyện của tôi
          button.function-btn(onclick="toggleMangaList('favoriteMangaList')") 
            //- img.icon(src="../../assets/img/favorite-icon.png" alt="Favorite Icon")
            i.fa-regular.fa-heart
            span Truyện yêu thích
          button.function-btn
            a(href="./mangaWrittingCenter.html").mangacenter
              //- img.icon(src="../../assets/img/write-center-icon.png" alt="Write Center Icon")
              i.fa-regular.fa-file
              span Trung tâm viết truyện


    .static-info-header
        img.static-user(src="../../assets/img/Static.png" alt="Static Icon")
        h2.static-info-title Số liệu
    hr.static-info-divider

    div.statistics
        .statistics-container
            .stat-box
                h3.stat-number 9999
                p.stat-label
                    i.fa-solid.fa-globe
                    | Lượt xem
            .stat-box
                h3.stat-number 9999
                p.stat-label
                    i.fa-solid.fa-globe
                    | Lượt xem
            .stat-box
                h3.stat-number 9999
                p.stat-label
                    i.fa-solid.fa-globe
                    | Lượt xem

    script(src="../../assets/js/client/personal_page.js")