extends ../layouts/_default.pug
block main 
    .control-container
        .navigation
            .nav-item.chapter
                span.current-chapter Chap 1
                .material-symbols-outlined(style="font-size: 25px") chevron_right
                ul.chapter-dropdown
            .nav-item.back-to-menu
                .material-symbols-outlined(style="font-size: 25px") chevron_left
                .text Quay lại menu
        .divider
    .reader-container
    script(src="../../assets/js/client/api.js")