extends ../layouts/index.pug

block link
    link(rel="stylesheet", href="../../assets/css/client/style_GiaQui.css")

block container

    include ../partials/user-info.pug

    div(class="loading-page hidden" id="loading-page")
        div(class="spinner")

    .alert-list

    section.client--edit-manga
        .container
            form(id="form-uploadManga" action="" enctype="multipart/form-data")
                .client--edit-manga__wrap
                    .client--edit-manga__top
                        .client--edit-manga__top--element
                            label(for="languageUM") Ngôn ngữ:
                            select(id="languageUM" name="ngonNgu")
                                option(value="VI" selected) Tiếng Việt
                                option(value="EN") Tiếng Anh
                        .client--edit-manga__top--element
                            label(for="ageLimitUM") Giới hạn độ tuối:
                            select(id="ageLimitUM" name="gioiHanDoTuoi")
                                option(value=0 selected) Phù hợp với mọi lứa tuối
                                option(value=8) 8+
                                option(value=10) 10+
                                option(value=12) 12+
                                option(value=16) 16+
                                option(value=18) 18+
                    .client--edit-manga__middle
                        .client--edit-manga__middle--image
                            .client--edit-manga__middle--image-main
                                img(src="../../assets/img/edit-manga-uploadMangaDefault.png" alt="defaultIMG")
                            label.client--edit-manga__middle--image-button
                                input(type="file" name="thumbnail")
                                span(class="button") Chọn ảnh bìa
                            span(id="file-name" class="nameFile") No file chosen

                        .client--edit-manga__middle--form
                            .client--edit-manga__middle--form-main
                                .client--edit-manga__middle--form-main_title Tên truyện:
                                .client--edit-manga__middle--form-main_form 
                                    input(type="text" name="nameOfMangaUM" aria-label="x")

                            .client--edit-manga__middle--form-list

                                .client--edit-manga__middle--form-element 
                                    .client--edit-manga__middle--form-element_title Tác giả: 
                                    .client--edit-manga__middle--form-element_form 
                                        input(type="text" name="nameOfAuthorUM" aria-label="x")

                                .client--edit-manga__middle--form-element
                                    .client--edit-manga__middle--form-element_title Kiểu: 
                                    .client--edit-manga__middle--form-element_form 
                                        select(id="typeOfMangaUM" name="type" aria-label="x")
                                            option(value="truyện tranh" selected) Truyện tranh
                                            option(value="tiểu thuyết") Tiểu thuyết

                                .client--edit-manga__middle--form-element 
                                    .client--edit-manga__middle--form-element_title Tình trạng: 
                                    .client--edit-manga__middle--form-element_form 
                                        select(id="statusOfMangaUM" name="status" aria-label="x")
                                            option(value="Hoàn thành" selected) Hoàn thành
                                            option(value="Chưa hoàn thành") Chưa hoàn thành

                        .client--edit-manga__middle--tag
                            .client--edit-manga__middle--tag-title 
                                i(class="fa-solid fa-tags") 
                                .main Tag:
                            .client--edit-manga__middle--tag-box
                                .client--edit-manga__middle--tag-list
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="675125c7c706c61bb91d8c5e" id="alphaMale" name="tagUM" value="Tổng tài")
                                        label(for="alphaMale") Tổng tài
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="673d82133a86786bbd0e762a" id="detective" name="tagUM" value="Trinh thám")
                                        label(for="detective") Trinh thám
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512646c706c61bb91d8c64" id="love" name="tagUM" value="Tình cảm")
                                        label(for="love") Tình cảm
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512652c706c61bb91d8c67" id="advanture" name="tagUM" value="Phiêu lưu")
                                        label(for="advanture") Phiêu lưu
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512658c706c61bb91d8c6a" id="act" name="tagUM" value="Hành động")
                                        label(for="act") Hành động
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512660c706c61bb91d8c6d" id="science" name="tagUM" value="Viễn tưởng")
                                        label(for="science") Viễn tưởng
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512669c706c61bb91d8c70" id="horrified" name="tagUM" value="Kinh dị")
                                        label(for="horrified") Kinh dị
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="674058a1f8af6e47fd2d5780" id="realLive" name="tagUM" value="Đời thường")
                                        label(for="realLive") Đời thường
                                    .client--edit-manga__middle--tag-element-detail
                                        input(type="checkbox" class="checkbox-round" tag-id="67512671c706c61bb91d8c73" id="funny" name="tagUM" value="Hài hước")
                                        label(for="funny") Hài hước

                    .client--edit-manga__bottom
                        .client--edit-manga__bottom--introduce
                            .client--edit-manga__bottom--introduce-title Giới thiệu:
                            .client--edit-manga__bottom--introduce-content
                                textarea(id="desc" name="descriptionUM" rows="3" cols="" aria-label="x")
                                
                    .client--edit-manga__button
                        a(href="mangaWrittingCenter.html" class="button") 
                            i(class="fa-solid fa-arrow-left")
                            .content Trang trước
                        button(type="submit" class="button button-submit") 
                            i(class="fa-solid fa-arrow-up-from-bracket")
                            .content Upload truyện
                            
    script(src = "../../assets/js/client/scriptGQ.js")