
<!-- default.pug--><!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body><!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MANGO</title>
        <link rel="icon" href="../../assets/img/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="../../assets/css/client/base.css">
        <link rel="stylesheet" href="../../assets/css/client/home_page.css">
        <link rel="stylesheet" href="../../assets/css/client/grid.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap&amp;subset=vietnamese" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <body>
          <div class="header">
            <div class="header__header-item">
              <div class="menu-list">
                <div class="menu-list-header"><i class="fa-solid fa-bars"></i></div><a class="header-logo-link" href="./home_page.html"><img class="header__logo" src="../../assets/img/logo.png"></a>
              </div>
              <div class="header__search-bar">
                <input class="header__search-item" type="text" id="search_header">
                <label class="header__search-link" for="search_header"> <i class="fa-solid fa-magnifying-glass"></i></label>
              </div>
              <div class="header-list"><a class="header-item__avatar" href="./personal_page.html"><img class="header-avatar" src="../../assets/img/Boss Combat.jpg" alt="Profile Avatar"></a></div>
            </div>
          </div>
        </body>
      </head>
    </html>
    <div class="main-content">
    </div>
  </body>
</html>